<header>
    <div class="container-header">
        <div class="titre-header">
            <h1>Flash Dam's</h1>
        </div>
        
    </div>
    <nav>
        <a href="{{ route('home') }}">Accueil</a>&nbsp;
        <a href="{{ route('decks.index') }}">Voir les decks</a>    
        <a href="{{ route('decks.create') }}">Ajouter un deck</a>
        
    </nav>
</header>