<header>
    <div class="container-header">
        <div class="titre-header logo-text">
            <h1>
                <span class="logo-flash">Flash</span>
                <span class="logo-dams">Dam's</span>
            </h1>
        </div>
        
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="burger-label">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav>
            <div class="nav-links">
                <a href="{{ route('decks.index') }}">Accueil</a>
                <a href="{{ route('decks.mine') }}">Voir mes decks</a>    
                <a href="{{ route('decks.create') }}">Ajouter un deck</a>
            </div>
            <div class="user-info">
                
                <a href="{{ route('profile.edit')}}"><span class="username">{{ auth.user.username }}</span></a>
                <a href="{{ route('auth.logout') }}">Se déconnecter</a>
            </div>
        </nav>
    </div>
</header>