@component('components/main', { title: 'Decks | Flash Dam\'s', css: 'home' })

<main>
  @each(deck in decks)
  <a href="{{ route('decks.show', { id: deck.id }) }}" class="deck-card">
    <h2 class="deck-title">{{ deck.name }}</h2>
    <p class="deck-description">{{ deck.description }}</p>

    <div class="deck-footer">
      <span>Voir le deck →</span>
    </div>
  </a>
  @else
  <p>Vous n'avez pas encore de deck.</p>
  @end

</main>
@end