@component('components/main', { title: 'Accueil' })


  @each(deck in decks)
    <div class="deck-card">
      <h2 class="deck-title">{{ deck.name }}</h2>
      <p class="deck-description">{{ deck.description }}</p>
    </div>
  @else
    <p>Aucun deck trouvé dans la base de données.</p>
  @end
@end
