<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      FlashCards - Home
    </title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>


  @each(deck in decks)
    <div class="deck-card">
      <h2 class="deck-title">{{ deck.name }}</h2>
      <p class="deck-description">{{ deck.description }}</p>
    </div>
  @else
    <p>Aucun deck trouvé dans la base de données.</p>
  @end
</body>
</html>
