@import url(./var.css);

.deck-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-left: 5px solid var(--primary-violet);
}